@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #74ab74;
}

#overall-box {
   background-color: #74ab74; 
   border: 2px solid #ffff;
   box-sizing: border-box;
   width: 600px;
   height: 100%;
   margin-top: 80px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1, h2, h3 {
    color: #ffff;
}

h2 {
    font-size: 20px;
}

.age-box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

